asyncpg
fastapi
jose
langchain-google-genai

uvicorn
pycryptodome
pydantic[email]

python-jose
sqlmodel
bcrypt
python-dotenv
python-multipart
bs4
passlib
numpy
psutil
openpyxl
fastapi-mail
psycopg2-binary
