asyncpg
fastapi
jose
langchain-google-genai

uvicorn
pycryptodome
pydantic[email]
v
pymupdf
pypdf2
python-jose
sqlmodel
bcrypt
python-dotenv
python-multipart
bs4
passlib
numpy
seaborn
metatrader5
psutil
xlsxwriter
openpyxl
fastapi-mail
psycopg2-binary
